@font-face {
    font-family: "ONE-Mobile-POP";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "ONE-Mobile-POP";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

.title {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
}

.input-wrapper .material-symbols-outlined {
    position: absolute;
    left: 0.7rem;
    top: 48%;
    transform: translateY(-50%);
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
    font-weight: 20;
}

input {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 2.15rem;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    outline: none;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 0.5rem;
    background: rgb(240, 240, 240);
}

input::placeholder {
    color: rgb(100, 100, 100);
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

input:focus {
    background: rgb(230, 230, 230);
    color: rgb(10, 10, 10);
    outline: none;
    transition-duration: 0.1s;
}

input:focus::placeholder {
    color: rgb(100, 100, 100);
}

input[name="id"] {
    background-size: 1.5rem;
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
}

input[type="password"] {
    font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
    &::-webkit-input-placeholder {
        transform-origin: 0 50%;
    }
}

input[type="password"]::placeholder {
    font-family: 'ONE-Mobile-POP';
    font-size: 1rem;
    opacity: 1;
}

.visibility-container {
    position: absolute;
    right: 2.8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.visibility-container .material-symbols-outlined {
    color: rgb(100, 100, 100);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 20;
    transition: color 0.2s ease;
}

.visibility-container .material-symbols-outlined:hover {
    color: rgb(10, 10, 10);
}

#visibility-off {
    display: none;
}

button {
    width: 100%;
    height: 2.15rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.util-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0.5rem 0;
}

.util-container input[type="checkbox"] {
    display: none;
}

.util-container input[type="checkbox"] + label {
    cursor: pointer;
}

.util-container input[type="checkbox"] + label > span {
    display: inline-block;
}

.util-container input[type="checkbox"] + label:before {
    content: "";
    display: flex;
    width: 0.85rem;
    height: 0.85rem;
    margin-right: 0.25rem;
    border: 2px solid #f47c7c;
    border-radius: 0.2rem;
    vertical-align: middle;
}

.util-container input[type="checkbox"]:checked + label:before {
    content: "🗸";
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #f47c7c;
    border-color: #f47c7c;
}

.util-container .remember-me-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    font-weight: 400;
}

.util-container .find-password-container {
    box-sizing: border-box;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    font-weight: 400;
    text-decoration: none;
}

.util-container .find-password-container .find-password {
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    font-weight: 400;
    text-decoration: none;
}

.util-container .find-password:hover {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.register-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    font-weight: 400;
}

.register-container .register-link {
    box-sizing: border-box;
    color: rgb(10, 10, 10);
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(100, 100, 100);
    margin: -0.2rem 0;
}

.notice-container {
    position: fixed;
    top: 0;
    left: 0;
}
