# Database Configuration
DB_HOST=userdb
DB_USER=root
DB_PASSWORD=your-database-password
DB_NAME=userapi
DB_PORT=3306

REQDB_HOST=requestdb
REQDB_USER=root
REQDB_PASSWORD=root
REQDB_NAME=requestapi
port=3306

# Redis Configuration
REDIS_URL=redis://redis:6379

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Keygen Configuration
CAT_NAME = "YOUR CAT NAME HERE :heart:"

# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-app-password

# MongoDB Configuration (for other services)
MONGO_URI=mongodb://admin:your-mongodb-password@mongodb:27017/mrsplayground?authSource=admin
MONGO_USER=admin
MONGO_PW=your-mongodb-password

# Node Environment
NODE_ENV=production

# API URLs
USER_SERVICE_URL=http://user-service:3001
NEXT_PUBLIC_API_URL=http://localhost/api 

# Discord bot
DISCORD_BOT_TOKEN=token
DISCORD_BOT_CLIENT_ID=12345
BOT_ID=meow
BOT_EMAIL=meow
BOT_PW=meow
BOT_NICKNAME=nickname

# Discord bot debug
DISCORD_GUILD_ID=123
IS_INTERNAL=1