<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
        <link rel="icon" type="image/x-icon" href="/user/public/src/assets/favicon.ico">
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="/auth/login.css">
        <script src="/auth/login.mjs" type="module"></script>

    </head>
    <body>
        <script>
            (function() {
                const savedTheme = localStorage.getItem('theme') || 'light';
                document.documentElement.setAttribute('data-theme', savedTheme);
            })();
        </script>
        <div class="container">
            <form class="login-form" id="loginForm">
                <h1 class="title">로그인</h1>
                
                <div class="id-input"></div>
                <div class="password-input"></div>
                
                <div class="util-container">
                    <div class="remember-me-container">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">
                            <span>나를 기억하기</span>
                        </label>
                    </div>
                    <div class="find-password-container">
                        <a href="/find-password" class="find-password">비밀번호 찾기</a>
                    </div>
                </div>
                
                <div class="login-button"></div>
                
                <hr class="divider">
                
                <div class="register-container">
                    아직 계정이 없으신가요? <a href="/register" class="register-link">회원가입</a>
                </div>
            </form>
            
            <div class="notice-container"></div>
        </div>
    </body>
</html>
